*
{
    margin: 0px;
    padding: 0px;
}
#contact
{
    position: relative;
    background: rgb(202, 92, 92);
    top:20px;
    left: 0px;
    height: 180px;
    width: 1200px;
    margin: 0px auto;
}
#contact h2
{
    position: absolute;
    color: white;
    top: 50px;
    left: 60px;
}
#contact1 h1
{
    position: relative;
    color: black;
    top: 155px;
    left: 90px;
    height: 10px;
    width: 1200px;
    margin: 0px auto;
    font-size: 40px;
    text-align: justify;

}
#form
{
    position: relative;
    left: 90px;
    top: 100px;
    height: 500px;
    width: 1200px;
    margin: 50px auto;
    cursor: pointer;
    text-align: justify;
}
#form table 
{   
    position: absolute;
    top: 50px;
    width: 450px;
    height: 300px;
}
#form table tr td label
{
   font-size: 25px;
   
}
#form table tr td input
{
    height: 30px;

}
#form table tr td input:hover
{
   color: blue;
   background: white;

}

#form#para div
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: auto;
    font-size: 35px;
    margin: 500px auto;
    
}
#form div h2
{ 
    position: absolute;
    left: 430px;
    top:0px;
    font-size: 40px;
    margin: 0px auto;
}
#form div p
{
    position: absolute;
    top: 70px; 
    left: 90px;
    width: 550px;
    margin-left: 350px;
    font-size: 19px;
    font-style: italic;
    text-align: justify;
    margin-right: 40px;

}
